
.blog-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-top: 40px;

}
/* .blog-preview{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  padding: 20px;
} */

/* .post-img{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  padding: 20px;
} */

.blog-preview {
  width: 80%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 0px 0 20px;
  box-shadow: 0px 0px 1px #333;
}

.blog-preview:hover {
  box-shadow: 1px 1px 5px #333;
}

.post-title {
  font-size: 20px;
 text-align: center;
}
/* .post-title::first-letter {
  font-size: 30px;
  font-variant-caps: all-petite-caps;
} */

.blog-list h1 {
 color: black;
}

.post-img {
 width: 100%;
 max-width: 500px;
}
.post-body {
 padding: 5px 10px;
 text-align: justify;
font-size: large;
}

.post-foot {
 width: 100%;
 color: black;
 font-style: italic;
 display: flex;
 justify-content: space-between;
 align-items: center;
 box-shadow: 0px 0px 1px rgb(70, 69, 69);
 padding: 0 5px;
}
.post-foot > p {
 display: flex;
gap: 5px;
 align-items: center;
}
.post-avatar{
width: 20px;
height: 20px;
border-radius: 50px;
}
.blog-preview p {
  color: #4e4d4d;
  font-size: small;
}

.blog-preview a {
  text-decoration: underline;
  color: royalblue;
}

.post-category{
align-self: flex-start;
 margin-left: 5px;
 font-size: x-small;
 
}
.post-category > a >  span {
font-weight: 600;
 margin-left: 5px;
 color: red;

}