@media screen and (max-width: 400px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .most-engaged {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  
  .mg-preview {
    padding: 3%;
    /* border: red solid; */
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    flex-direction: column;
    justify-content: space-evenly;
    gap:15px;
  }

  .mg-preview > a {
    display: flex;
    color: #3571f1;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    text-decoration: none;
  }

  .mg-preview > span {
    height: 60%;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: left;
    gap: 5px;
  }
  .mg-preview > span > a{
    color: rgb(71, 71, 71);
  }

  .mg-preview > span > img {
    width: 10%;
    height: 10%;
    border-radius: 30px;
  }
}











/*  */

@media screen and (min-width: 900px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .most-engaged {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
  }

  .mg-preview {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
  }
}
